<header class="site-header header-style-8 mobile-sider-drawer-menu">
    
    <div class="top-bar site-bg-primary">
        <div class="container">
            
            <div class="wt-topbar-left">
                <ul class="list-unstyled e-p-bx">
                    <li>Hoş Geldiniz  Tevfik Künefeci </li>
                    <li><i class="fa fa-envelope"></i>therichpost.com</li>
                    <li>    <a href="https://web.whatsapp.com/send?phone=9(0552)3222242&text=Bilgi%20almak%20istiyorum." target="_blank" title="Whatsapp Destek Hattı" class=" text-uppercase radius-sm font-weight-700">
                        <i class="fa fa-whatsapp"></i>(0552) 322 2242</a></li>
                </ul>
            </div>
            <div class="wt-topbar-right">
                <ul class="social-bx list-inline">
                    <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                    <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                    <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                    <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                    <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                    <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                </ul>
                
            </div>
            
        </div>
    </div>
    <!-- Search Link -->

    <!-- Search Form -->
    <div class="header-middle bg-white">
        <div class="container">
            <div class="logo-header">
                <a href="#">
                    <img src="assets/images/logoOTCDepom.png" width="216" height="37" alt="" >
                </a>
            </div>
            <div class="header-info">
                <ul>
                    <li>
                        <div>
                            <div class="icon-sm">
                                <span class="icon-cell  site-text-primary"><i class="flaticon-placeholder"></i></span>
                            </div>
                            <div class="icon-content">
                               
                                <span>
                                  
                                    <div class="dropdown" data-bs-theme="light" style="position: absolute;">
                                        <a href="#" class="dropdown-toggle" id="dropdownMenuButtonLight" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa  fa-user" ></i>HESABIM</a> 
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonLight" style="border: 3px solid #eaeaea;">
                                          <li><a class="dropdown-item " href="#">Üyelik Bilgilerim</a></li>
                                          <li><a class="dropdown-item" href="#">Siparişlerim</a></li>
                                          <li><a class="dropdown-item" href="#">Cari Hareketlerim</a></li>
                                          <li><a class="dropdown-item" href="#">Online Ödeme</a></li>
                                          <li><hr class="dropdown-divider"></li>
                                          <li><a class="dropdown-item" href="#">Favori Ürünlerim</a></li>
                                        </ul>
                                        <a href="#">  <i class="fa fa-times"></i>ÇIKIŞ</a> 
                                        <a href="#">  <i class="fa  fa-search"></i>ARA</a> 
                                       </div>
                                 
                                  
                                </span>
                              
                            </div>
                        </div>
                       
                    </li>
                   
                   
                </ul>
                
            </div>
        </div>
    </div>
    
    <!-- Search Form -->
    <div class="sticky-header main-bar-wraper">
        <div class="main-bar header-botton nav-bg-secondry">
            <div class="container">
                <!-- NAV Toggle Button -->
                <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-first"></span>
                    <span class="icon-bar icon-bar-two"></span>
                    <span class="icon-bar icon-bar-three"></span>
                </button>

                <!-- MAIN Nav -->
                <div class="header-nav navbar-collapse collapse ">
                    <ul class=" nav navbar-nav">
                        <li class="active">
                            <a href="javascript:;">Home<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="#">Home 1</a></li>
                                <li><a href="#">Home 2</a></li>
                                <li><a href="#l">Home 3</a></li>
                                <li><a href="#">Home 4</a></li>
                                <li><a href="#">Home 5</a></li>
                            </ul>
                        </li>
                    
                        <li>
                            <a [routerLink]="['about']">Pages<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="javascript:;">About us</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">About us 1</a></li>
                                        <li><a href="#">About us 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">FAQ</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">FAQ 1</a></li>
                                        <li><a href="#">FAQ 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Career</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Portfolio</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Portfolio 1</a></li>
                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Our Team</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Our Team 1</a></li>
                                        <li><a href="#">Our Team Detail</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Services</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Services 1</a></li>
                                      
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Galley</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Galley Grid 1</a></li>
                                       
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Error</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Error 403</a></li>
                                       
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Contact us</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Contact us 1</a></li>
                                       
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="javascript:;">Features<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="javascript:;">Header</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Header 1</a></li>
                                       
                                    </ul>
                                </li>
                                <li><a href="#">Footer Fixed</a></li>
                               
                            </ul>
                        </li>
                    
                        <li>
                            <a href="javascript:;">Product<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a href="#">Product</a></li>
                                <li><a href="#">Product Detail</a></li>
                            </ul>
                        </li>
                        
                        <li class="submenu-direction">
                            <a href="javascript:;">Blog<i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="javascript:;">Media</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Media list</a></li>
                                      
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">list</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Half image</a></li>
                                                                                          
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Grid</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Grid 2</a></li>
                                       
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Single</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Single full</a></li>
                                       
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="has-mega-menu ">
                            <a href="javascript:;">Elements<i class="fa fa-chevron-down"></i></a>
                            <ul class="mega-menu">
                                <li>
                                    
                                    <ul>
                                        <li><a href="#"><i class="fa fa-ravelry"></i> Animations</a></li>
                                        
                                    </ul>
                                </li>
                    
                                <li>
                                    
                                    <ul>
                                        <li><a href="#"> <i class="fa fa-calculator"></i>Counters</a></li>
                                       
                                    </ul>
                                </li>
                    
                                <li>
                                    
                                    <ul>
                                        <li><a href="#"> <i class="fa fa-photo"></i>Images effects</a></li>
                                       
                                    </ul>
                                </li>
                                
                                <li>
                                    
                                    <ul>
                                        <li><a href="#"> <i class="fa fa-th-list"></i>Tabs</a></li>
                                     
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <!-- ETRA Nav -->
                <div class="extra-nav">
                    <a href="javascript:;" class="wt-cart cart-btn dropdown-toggle" title="Your Cart" id="ID-MSG_dropdown" data-bs-toggle="dropdown">
                        <span class="link-inner">
                            <span class="woo-cart-total"> </span>
                            <span class="woo-cart-count">
                                <span class="shopping-bag wcmenucart-count ">4</span>
                            </span>
                        </span>
                    </a>
                    
                    <div class="dropdown-menu cart-dropdown-item-wraper">
                        <div class="nav-cart-content">
                            
                            <div class="nav-cart-items p-a15">
                                <div class="nav-cart-item clearfix">
                                    <div class="nav-cart-item-image">
                                        <a href="#"><img src="assets/images/cart/pic-1.jpg" alt="p-1"></a>
                                    </div>
                                    <div class="nav-cart-item-desc">
                                        <a href="#">Safety helmet</a>
                                        <span class="nav-cart-item-price"><strong>2</strong> x $19.99</span>
                                        <a href="#" class="nav-cart-item-quantity">x</a>
                                    </div>
                                </div>
                                <div class="nav-cart-item clearfix">
                                    <div class="nav-cart-item-image">
                                        <a href="#"><img src="assets/images/cart/pic-2.jpg" alt="p-2"></a>
                                    </div>
                                    <div class="nav-cart-item-desc">
                                        <a href="#">Hammer drill machine</a>
                                        <span class="nav-cart-item-price"><strong>1</strong> x $24.99</span>
                                        <a href="#" class="nav-cart-item-quantity">x</a>
                                    </div>
                                </div>
                                <div class="nav-cart-item clearfix">
                                    <div class="nav-cart-item-image">
                                        <a href="#"><img src="assets/images/cart/pic-3.jpg" alt="p-1"></a>
                                    </div>
                                    <div class="nav-cart-item-desc">
                                        <a href="#">Safety helmet</a>
                                        <span class="nav-cart-item-price"><strong>2</strong> x $19.99</span>
                                        <a href="#" class="nav-cart-item-quantity">x</a>
                                    </div>
                                </div>
                                <div class="nav-cart-item clearfix">
                                    <div class="nav-cart-item-image">
                                        <a href="#"><img src="assets/images/cart/pic-4.jpg" alt="p-2"></a>
                                    </div>
                                    <div class="nav-cart-item-desc">
                                        <a href="#">Hammer drill machine</a>
                                        <span class="nav-cart-item-price"><strong>1</strong> x $24.99</span>
                                        <a href="#" class="nav-cart-item-quantity">x</a>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-cart-title p-tb10 p-lr15 clearfix">
                                <h4  class="pull-left m-a0">Subtotal:</h4>
                                <h5 class="pull-right m-a0">$114.95</h5>
                            </div>
                            <div class="nav-cart-action p-a15 clearfix">
                                <button class="site-button  btn-block m-b15 " type="button">View Cart</button>
                                <button class="site-button  btn-block" type="button">Checkout </button>
                            </div>
                        </div>
                    </div>
                 </div>
                <!-- SITE Search -->
                <div id="search"> 
                    <span class="close"></span>
                    <form role="search" id="searchform" action="/search" method="get" class="radius-xl">
                        <div class="input-group">
                            <input value="" name="q" type="search" placeholder="Type to search">
                            <span class="input-group-btn"><button type="button" class="search-btn"><i class="fa fa-search"></i></button></span>
                        </div>   
                    </form>
                </div>
                
                
            </div>
        </div>
    </div>            
    
</header>